/* GLOBAL */
* {
  box-sizing: border-box;
}

:root {}

body {
  background-color: var(--LightGray);
  font: normal 16px Arial, Helvetica, Sans-Serif, Verdana, Tahoma
    /* For hedings*/
  ;
  line-height: 1.6;
  color: var(--DarkGray);
  margin: 0;
  overflow-x: hidden;
}

/* Header */
@media (max-width:1069px) {

  /* TABLET size*/
}

@media (max-width:768px) {

  /* PHONE size*/
}