.main_grid {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}

.card {
  background-color: var(--DarkGray);
  padding: 50px;
  border-radius: 8px;
}

.toggle_options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  font-size: var(--FontSize);
  font-weight: bold;
}

.toggle_options>p {
  color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: all 250ms;
}

p.selected {
  color: rgba(255, 255, 255, 0.9) !important;
}

.separator {
  border-right: 3px solid rgba(238, 238, 238, 0.1);
  border-radius: 8px;
}

.filter_options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2vh auto;
}

.filter_options label {
  color: rgba(255, 255, 255, 0.9);
}

.main_table {
  border: 1px solid transparent;
  color: white;
  text-align: center;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 0.9rem !important;
}

.main_table tr {
  cursor: pointer;
  transition: all 150ms;
}

.main_table tbody tr:hover {
  background-color: var(--DarkGrayHover);
}

.main_table th {
  padding: 20px 15px;
}

.main_table td {
  padding: 10px;
}

.preview {
  color: white;
  font-size: var(--FontSize);
}

.certInfo {
  padding: 0;
  list-style-type: none;
}

.certInfo li {
  margin-bottom: 1.5rem;
}

.certInfoLabel {
  font-weight: bold;
}

.requestCert {
  display: flex;
  justify-self: center;
}

.requestCert>* {
  font-size: var(--FontSize);
  margin-right: 1.5rem;
}

.requestType {
  text-decoration: none;
  background-color: #fff;
  border-radius: 0.3rem;
  color: #000;
  padding: 0.2rem 1rem;
  margin: 1.5rem 0;
  margin-right: 1.5rem;
  border: 1px solid #fff;
}

.requestBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.3rem;
  padding: 0 0.5rem;
  border: 1px solid #fff;
  margin: 1.5rem 3rem 1.5rem 0;
}

.approveBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68CC45;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.3rem;
  padding: 0 0.5rem;
  border: 1px solid #68CC45;
  margin: 1.5rem 3rem 1.5rem 0;
}

.denyBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C7372F;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.3rem;
  padding: 0 0.5rem;
  border: 1px solid #C7372F;
  margin: 1.5rem 3rem 1.5rem 0;
}

.accentBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007aff;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.3rem;
  padding: 0 0.5rem;
  border: 1px solid #007aff;
}

.imgDiv {
  margin-top: 0.3rem;
  margin-left: 0.5rem;
}

.reasonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem auto;
}

.reasonInput {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.reasonInput>* {
  margin-right: 0.3rem;
}

.reasonInput>input {
  padding: 5px 0;
  width: 100%;
}

.validCircle {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--Valid);
  margin: auto;
}

.invalidCircle {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--Invalid);
  margin: auto;
}

.pendingCircle {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--Pending);
  margin: auto;
}

.keyPad{
  margin-top: 1rem;
}

@media (max-width:1800px) {

  .preview,
  .requestCert>*,
  .main_table {
    font-size: var(--FontSizeSmaller);
  }

  .card {
    padding: 25px;
  }

  .requestBtn,
  .approveBtn,
  .denyBtn,
  .accentBtn {
    font-size: 14px;
  }

  .main_table td {
    padding: 5px;
  }

  .main_grid {

    width: 95%;

  }
}