.main_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
}

.toggle_options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter_options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main_table {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 5px 10px 7px rgba(238, 238, 238, 1);
  -moz-box-shadow: 0px 5px 10px 7px rgba(238, 238, 238, 1);
  box-shadow: 0px 5px 10px 7px rgba(238, 238, 238, 1);
}