.main_grid {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  width: 90%;
  margin: auto;
}

.card {
  background-color: var(--DarkGray);
  padding: 50px;
  border-radius: 8px;
}

.toggle_options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.toggle_options>p {
  color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: all 250ms;
}

p.selected {
  color: rgba(255, 255, 255, 0.9) !important;
}

.filter_options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2vh auto;
}

.filter_options label {
  color: rgba(255, 255, 255, 0.9);
}

.main_table {
  border: 1px solid transparent;
  color: white;
  text-align: center;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main_table tr {
  cursor: pointer;
  transition: all 150ms;
}

.main_table tbody tr:hover {
  background-color: var(--DarkGrayHover);
}

.main_table th {
  padding: 20px 15px;
}

.main_table td {
  padding: 10px;
}

.separator {
  border-right: 3px solid rgba(238, 238, 238, 0.1);
  border-radius: 8px;
}

.validCircle {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--Valid);
  margin: auto;
}

.invalidCircle {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--Invalid);
  margin: auto;
}

.pendingCircle {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--Invalid);
  margin: auto;
}